<!-- src/pages/subjects/delete/delete-subject.component.html -->

<h1 class="title">Excluir Disciplina</h1>
<h3 class="warning">Tem certeza que deseja excluir esta disciplina?</h3>

<div class="subjectBox" *ngIf="subject">
  <h4>{{ subject.name }}</h4>
  <p>Carga Horária: {{ subject.workloadHours }} horas</p>
</div>

<div class="form">
  <button type="button" class="btn btnDanger" (click)="handleDelete()">Excluir</button>
  <button type="button" class="btn btnSecondary" (click)="cancel()">Cancelar</button>
</div>
