<!-- src/pages/subjects/edit/edit-subject.component.html -->

<div class="createContainer">
  <h1 class="createTitle">Editar Disciplina</h1>

  <form (ngSubmit)="handleSubmit()" class="createForm">
    <input type="hidden" name="id" [(ngModel)]="subject.id" />

    <div class="formGroup">
      <label for="name" class="formLabel">Nome da Disciplina</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="subject.name"
        class="formInput"
      />
      <span *ngIf="errors.name" class="formError">{{ errors.name }}</span>
    </div>

    <div class="formGroup">
      <label for="description" class="formLabel">Descrição</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="subject.description"
        class="formInput"
      ></textarea>
    </div>

    <!-- Novo campo: Carga Horária -->
    <div class="formGroup">
      <label for="workloadHours" class="formLabel">Carga Horária (horas)</label>
      <input
        type="number"
        id="workloadHours"
        name="workloadHours"
        [(ngModel)]="subject.workloadHours"
        class="formInput"
        min="1"
      />
      <span *ngIf="errors.workloadHours" class="formError">{{ errors.workloadHours }}</span>
    </div>

    <div class="formActions">
      <button type="submit" class="btnPrimary">Salvar Alterações</button>
      <button type="button" class="btnSecondary" (click)="back()">Voltar</button>
    </div>
  </form>
</div>
