<!-- src/pages/error-page/error-page.component.html -->

<div class="errorContainer">
  <h1 class="errorTitle">Ops! Algo deu errado.</h1>

  <p class="errorDescription">
    Desculpe, ocorreu um erro inesperado enquanto processávamos sua requisição.
  </p>

  <div *ngIf="error" class="errorDetails">
    <h3>Detalhes do Erro:</h3>
    <p><strong>Mensagem:</strong> {{ error.message }}</p>
    <pre>{{ error.stack }}</pre>
  </div>

  <a routerLink="/" class="btnReturn">⬅ Voltar para o Início</a>
</div>
